
@{
    ViewBag.Title = "Welcome to Findipay";
    Layout = "~/Views/Shared/UserCommonLayout.cshtml";
}
<div class="content-wrapper">
    
    <divb class="row">
        <div class="col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Top-up chart</h4>
                    <canvas id="pieChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">USP chart</h4>
                    <canvas id="USPpieChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
    </divb>
    <div class="row">
        <div class="col-sm-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Merchent Wise</h4>
                    <canvas id="traffic-chart"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <h4 class="card-title float-left">Statistics on Daily Basis</h4>
                        <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                </div>
            </div>
        </div>
  

    </div>
</div>

