
@{
    ViewBag.Title = "Refund";
    Layout = "~/Views/Shared/DMTCommonView.cshtml";
}

<div class="row">
    <div class="body-bar">
        <h6>Pending Report</h6>
        <br />
        <table class="tbl_bar">
            <tr style="background-color: #f00 !important;color:white">
                <td>Transaction ID</td>
                <td>A/C Number</td>
                <td>Date/Time</td>
                <td>Sender No</td>
                <td>Amount</td>
                <td>OTP</td>
                <td>Action</td>
            </tr>
            <tr>
                <td>76468800004234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>9876545543</td>
                <td>₹2,300.00</td>
                <td>
                    <input type="text" style="width:fit-content" placeholder="Enter OTP" />
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="Get Refund" class="btn btn-primary" />
                </td>
            </tr>
            <tr>
                <td>76468800004234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>9876545543</td>
                <td>₹2,300.00</td>
                <td>
                    <input type="text" style="width:fit-content" placeholder="Enter OTP" />
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="Get Refund" class="btn btn-primary" />
                </td>
            </tr>
            <tr>
                <td>76468800004234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>9876545543</td>
                <td>₹2,300.00</td>
                <td>
                    <input type="text" style="width:fit-content" placeholder="Enter OTP" />
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="Get Refund" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
</div>