
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/DMTCommonView.cshtml";
}

<div class="row">
    <div class="body-bar">
        <h6>Search Customer</h6>
        <input type="button" value="Export to Excel" class="btn btn-primary" style="width:20%;height: fit-content;border-radius:4px;" />

        <br />
        <br />
        <table class="tbl_bar">
            <tr style="background-color: #f00 !important;color:white">
                <td>Agent ID</td>
                <td>CA number</td>
                <td>Transaction ID</td>
                <td>Date/Time</td>
                <td>Amount</td>
                <td>Settlement Type</td>
                <td>Category</td>
                <td>Action</td>
            </tr>
            <tr>
                <td>M05305</td>
                <td>XXXXXXXXXX4234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>₹0.00</td>
                <td>None</td>
                <td>
                    Verification
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="+" class="btn btn-success" />
                </td>
            </tr>
            <tr>
                <td>M05305</td>
                <td>XXXXXXXXXX4234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>₹0.00</td>
                <td>None</td>
                <td>
                    Verification
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="+" class="btn btn-success" />
                </td>
            </tr>
            <tr>
                <td>M05305</td>
                <td>XXXXXXXXXX4234</td>
                <td>67675564</td>
                <td>15/09/2022 01:25 PM</td>
                <td>₹0.00</td>
                <td>None</td>
                <td>
                    Verification
                </td>
                <td>
                    <input type="button" style="width:fit-content;height: fit-content;" value="+" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </div>
</div>