
@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="https://pictogrammers.com/library/mdi/icon/smart-card/" property="og:url" />
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/assets_usr/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.1.96/css/materialdesignicons.min.css" integrity="sha512-NaaXI5f4rdmlThv3ZAVS44U9yNWJaUYWzPhvlg5SC7nMRvQYV9suauRK3gVbxh7qjE33ApTPD+hkOW78VSHyeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/assets_usr/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->

    <link href="~/Content/md_assest/css/mdb.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets_usr/css/style.css">
    <link href="~/Content/assets_usr/css/Dstyle.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Content/assets_usr/images/favicon.png" />
    <style>
        .main-panel {
            margin-left: 5.6%;
        }

        .navbar .navbar-brand-wrapper .navbar-brand img {
            height: auto;
        }

        .hover-open {
            background: #f00 !important;
            color: white;
            text-decoration: underline;
        }



        .navbar {
            background-image: url('../../Content/assets_usr/images/d_shadow.png');
            background-color: #f00 !important;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100px;
        }

            .navbar .navbar-menu-wrapper .navbar-toggler {
                color: #fff;
            }

            .navbar .navbar-brand-wrapper {
                height: 100px;
            }

        .sidebar {
            margin-top: 30px;
            background: #d32f2f;
            position: fixed;
        }

            .sidebar .nav .nav-item {
                padding: 0 2rem;
                transition: all .3s linear;
            }

                .sidebar .nav .nav-item:hover {
                    color: #fff !important;
                    background-color: #d34646 !important;
                    text-decoration: underline;
                    transition: all .3s linear;
                }

                .sidebar .nav .nav-item .nav-link i.menu-icon {
                    color: #fff;
                }


        .nav-profile, .nav-profile:hover {
            color: #fff !important;
            background-image: url('../../Content/assets_usr/images/hamburger-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .sidebar .nav .nav-profile .nav-link .nav-profile-text {
            color: #fff;
        }

        .sidebar .nav .nav-profile .nav-link .nav-profile-text {
            color: #fff;
        }

        .sidebar .nav .nav-item .nav-link {
            padding: 1rem 0 1rem 0;
        }

        .nav-item .nav-link .menu-title {
            background: #d32f2f !important;
            color: #fff !important;
        }

        .sidebar .nav.sub-menu .nav-item .nav-link:hover {
            margin-left: 5px;
            color: #fff !important;
            transition: all .3s linear;
        }

        .sidebar .nav.sub-menu .nav-item .nav-link {
            color: #fff;
        }

        .test {
            margin-top: 5%;
            min-height: 100px;
            background: green;
            position: fixed;
            top: 0px;
        }

        .sidebar .nav .nav-item .nav-link {
            color: #fff;
        }

        .sidebar .nav .nav-item.active > .nav-link i {
            color: #fff;
        }

        .sidebar .nav .nav-item.active {
            color: #fff !important;
            background: #d34646 !important;
        }
    </style>
</head>
<body class="sidebar-icon-only">
    <div class="container-scroller">

        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                <a href="das.html" class="logo d-flex align-items-center">
                    <img src="~/Content/assets_usr/images/ipaylogo.png" alt="">
                </a>
            </div>
            @*<div class="col-sm-12 test" style="margin-left:10%;margin-right:10%;">
                    <div class="row">
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                        <div class="col-sm-2 test c-iocon">  <i class="mdi mdi-fingerprint menu-icon"></i></div>
                    </div>
                </div>*@
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="~/Content/assets_usr/images/faces/face1.jpg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold">Amit Tripathi</span>
                            </div>
                            <span style="background:#fff;" class="mdi mdi-check-decagram text-success nav-profile-badge"></span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User/Index">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/User/SendMoney">
                            <span class="menu-title">DMT</span>
                            <i class="mdi mdi-fingerprint menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">AePS</span>
                            @* <span class="mdi mdi-swap-horizontal menu-icon"></span>*@
                            <i class="mdi mdi-swap-horizontal menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Bill Pay</span>
                            <i class="mdi mdi-account-card menu-icon"></i>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Cash Drop</span>
                            <i class="mdi mdi-hand-coin menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Pan Card</span>
                            <i class="mdi mdi-smart-card menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">More Elements</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div style="background: #d32f2f !important;" class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Element 1</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Element 2</a></li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                                <span class="menu-title">Sample Pages</span>
                                <i class="menu-arrow"></i>
                                <i class="mdi mdi-medical-bag menu-icon"></i>
                            </a>
                            <div class="collapse" id="general-pages">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                                </ul>
                            </div>
                        </li>*@

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 cont">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sub-nav">
                                    <a href="/User/SendMoney"
                                       class="hvr-underline-from-center active-nav">Send Money</a>
                                    <a href="/User/Refund" class="hvr-underline-from-center">Refund</a>
                                    <a href="/User/Reports" class="hvr-underline-from-center">Reports</a>
                                </div>
                            </div>
                        </div>
                        @RenderBody()
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">© 2018 - 2022 Transaction Solution International (India) Pvt Ltd.</span>
                        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">All Rights Reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
                    <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
            </div>



    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/assets_usr/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/assets_usr/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets_usr/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/assets_usr/js/off-canvas.js"></script>
    <script src="~/Content/assets_usr/js/hoverable-collapse.js"></script>
    <script src="~/Content/assets_usr/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Content/assets_usr/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Content/md_assest/js/mdb.min.js"></script>
    <script src="~/Content/assets_usr/js/chart.js"></script>
</body>
</html>